.main-menu{
    background: white;
    margin: 0;
    padding:1rem 0;
    display:flex;
    justify-content: flex-start;
    align-items:center;
}

header nav li {
    list-style: none;
    margin-left: 2rem;
    font-family: Inter;
    text-decoration: none;
    color: 17556E;
}
body {
    background-color: #D4E8EE;

}