/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*headers*/
.nav-list{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex:1;
}

.right{
    flex:1;
}

nav {
    display: flex;
}

.nav-list li{
    list-style:none;
}
.header{
    background: white;
    height: 128px;
    padding:1rem 0;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-left: 3rem;
    text-decoration: none;
    color: #17556E;
    margin: 25px 25px;
}
.nav-item a {
    text-decoration: none;
    color: #2E81A4;
    transition: color .5s;
}
.nav-item a:hover {
    color: #323D48
}

.nav-item:active {
color: #17556E;
}

h1{
    font-size: 36px;
    font-family: Instrument Serif;
    color: #17556E;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    justify-content: center;
}
#title {
    width: 50vw;

}

#title a{
    text-decoration: none;
    color: #17556E;
    font-weight: normal;
    text-align: center;
    transition: color .5s;
}

#title a:hover {
color:#323D48;
}


/*body*/
h2{
   font-weight: normal;
   font-family: Intrument Serif;
   font-size: 30px;
   color: #323D48;
   margin-top: 5%;
}
main {
    margin-left: 20%;
    margin-right: 20%;
}
body {
    background-color: #D4E8EE;
}
#gallery {
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    text-align: center;
    object-fit: cover;
    margin-left: 0%;
    margin-right: 0%;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#white-box{
    background-color:white;
    height: 1150px;
    margin-bottom: 150px;
    display: flex;
}
#index-logo{
    margin-left: 15%;
    width: 850px;
    height: 850px;
    margin-top: 150px;

}
#white-box div{
flex-direction: column;
margin-top: 15%;
margin-right: 15%;
margin-left: 7%;
}

.button {
    background-color: #2E81A4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: fit-content;
    transition: background-color .5s;
}
.button:hover {
    background-color: #17556E;
}
h3 {
    font-size: 20px;
    font-family: inter;
    color: #17556E;
    font-weight: bold;
}
p {
    font-size: 20px;
    font-family: Inter;
    color: #17556E;
    font-weight: normal;
}

/* Home Page Portfolio Section*/
.artwork-sections {
margin-left: 10%;
margin-right: 10%;

}

.series-titles {
    text-align: center;
    margin-bottom: 85;
    margin-top: 150px;

}

.image-rows {
    display: flex;
    justify-content: space-between;
}

.images {
    width: 95%;
    height: auto;
}

.unicorn-image {
    width: 90%;
    height: auto;

}

.image-container {
    text-align: center;
}

.caption {
    margin-top: 10px;
    margin-bottom: 15px;
}

@media (max-width:1300px) {
    .image-rows {
        display:block;
    }
    .caption {
        margin-bottom: 50px;
    }
    p .captions {
        margin-bottom: 50px;
    }
}

/*Email Signup*/
.email-input {
    width:25%;
    padding: 13px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: left;
}
#newsletter-signup {
    text-align: center;
    float: center;
}

.signup-form {
    text-align: center;
}


/*footers*/
.footer {
    background: white;
    height: 256px;
    margin-top: 200px;
    padding:1rem 0;
    align-items: center;
}

.social-media-container {            
    display: flex;        
    gap: 10px;   
    justify-content: right;  
    margin-right: 20px;      
}


.social-media {
    width: 35px;          
    height: 35px;       
}

#tiktok{
    position:relative;
    top:-5px;
}

/*COMMISSIONS PAGE*/

input, label {
    display:block;
}

#first-name {
    margin-right:20px;
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}

#last-name {
    margin-right:20px;
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}

#email {
    width: 420px;
    margin-bottom: 50px;
    padding: 5px;
}

#checkbox1{
    margin-right: 8px;
}
.checkbox-group input, .checkbox-group label{
    display:inline;
}
#description {
    width: 420px;
    height: 300px;
    margin-bottom: 50px;
}
#questions {
    width: 420px;
    height: 200px;
    margin-bottom: 50px;
}

/*PORTFOLIO PAGE*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    text-align: center;
}
    
.grid-item img{
    width: 100%;
    height: auto;
}

.single-image-grid{
    text-align: center;
    width:100%;
    height: auto;
    
}
#pixie-parade {
    width: 204%;
}
#sunny-duck {
    width: 204%;
}
#comm3 {
    width: 204%;
}

@media (max-width: 1300px) {
    .grid-container {
        display:block;
    }
    .gid-item img{
        width:95%;
        height:auto;
        text-align: center;
        margin-bottom: 20px;
    }
    #pixie-parade {
        width:100%;
        height:auto;
    }
    #sunny-duck {
        width:100%;
        height:auto;
    }
    #comm3 {
        width:100%;
        height:auto;
    }
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
}
